<!DOCTYPE html>
<html lang="en" xmlns:th>
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
</head>
<body>
<h1>Create customer</h1>
<p>
    <a href="/list-Home">Customer list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form action="/create-province" th:object="${province}" method="post">
    <table>
        <tr>
            <td>First name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input type="text" th:field="*{area}"/></td>
        </tr>
        <tr>
            <td>Phone number:</td>
            <td><input type="text" th:field="*{Population}"/></td>
        </tr>
        <tr>
            <td>Province:</td>
            <td>
                <select th:field="*{country}">
                    <option th:each="p : ${country}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create province"></td>
        </tr>
    </table>
</form>
</body>
</html>